@charset "UTF-8";
/*-----------------------------------------------
    Importing Fonts
------------------------------------------------*/
@import url("../fonts/stylesheet.css");
/*-----------------------------------------------
    Common CSS
------------------------------------------------*/
* {
  margin: 0;
  padding: 0;
  color: #fff;
  text-decoration: none;
  list-style: none;
}

html,
body {
  width: 100%;
}

body {
  background: #5486d2;
  background: -webkit-gradient(linear, left top, left bottom, from(#5486d2), color-stop(50%, #5b6ed7), to(#a6a4ed));
  background: linear-gradient(180deg, #5486d2 0%, #5b6ed7 50%, #a6a4ed 100%);
  background-repeat: no-repeat;
  font-family: "Roboto";
  overflow-x: hidden;
}

.m-block {
  display: none;
}

@media screen and (max-width: 992px) {
  .d-block {
    display: none;
  }
  .m-block {
    display: block;
  }
}

/*-----------------------------------------------
    Container (Wrapper)
------------------------------------------------*/
.container {
  padding: 0px 111px;
  margin: 0 auto;
  background-image: url(../images/kenny/original.png), url(../images/bg/gradient.png);
  background-position: right 111px bottom, left bottom;
  background-repeat: no-repeat, no-repeat;
  background-size: auto 85%, auto;
  overflow: hidden;
  height: 100vh;
}

@media screen and (max-width: 1439px) {
  .container {
    padding: 0px 36px;
    background-position: right 36px bottom, left bottom;
  }
}

@media screen and (max-width: 1024px) {
  .container {
    background-image: url(../images/kenny/kenny-d.png), url(../images/bg/gradient.png);
    background-position: right 0px bottom, left bottom;
  }
}

@media screen and (max-width: 992px) {
  .container {
    background-size: 60% auto, auto;
  }
}

@media screen and (max-width: 992px) and (min-height: 1180px) {
  .container {
    background-size: 68% auto, auto;
  }
}

@media screen and (max-width: 767px) {
  .container {
    height: unset;
  }
}

@media screen and (max-width: 576px) {
  .container {
    background-image: url(../images/kenny/kenny-m.png), url(../images/bg/gradient.png);
    background-size: 296px, auto;
  }
}

@media screen and (max-width: 416px) {
  .container {
    padding: 0px 25px;
  }
}

@media screen and (max-width: 394px) {
  .container {
    background-size: 276px, auto;
  }
}

/*-----------------------------------------------
    Navigations 
------------------------------------------------*/
.navigations {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigations li {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 32px;
  letter-spacing: 0.05em;
}

.navigations li::before {
  content: "•";
  margin: 0px 6px;
}

.navigations li:last-of-type::after {
  content: "•";
  margin-left: 6px;
}

@media screen and (max-width: 992px) {
  .navigations {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: 0 auto;
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 768px) {
  .navigations {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 576px) {
  .navigations {
    margin-bottom: 15px;
  }
  .navigations li {
    font-size: 10px;
  }
  .navigations li::before {
    margin: 0px 4px;
  }
  .navigations li:last-of-type::after {
    margin-left: 4px;
  }
}

@media screen and (max-width: 394px) {
  .navigations li {
    font-size: 9.3px;
  }
}

@media screen and (max-width: 374px) {
  .navigations li:nth-of-type(3):after {
    content: "•";
    margin-left: 6px;
  }
  .navigations li:nth-of-type(4) {
    display: none;
  }
}

/*-----------------------------------------------
    Navbar
------------------------------------------------*/
nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 0px;
}

@media screen and (max-width: 576px) {
  nav {
    padding: 40px 0px 30px 0px;
  }
}

nav .nav-left,
nav .nav-right {
  width: 100px;
}

nav .nav-left .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .nav-left .logo img {
  margin-right: 20px;
}

nav .nav-left .logo h4 {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.05em;
}

nav .nav-center {
  width: 100%;
}

nav .nav-center ul {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
}

@media screen and (max-width: 992px) {
  nav .nav-center {
    display: none;
  }
}

nav .nav-right {
  margin-left: auto;
  margin-right: 0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

nav .nav-right ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

nav .nav-right ul li {
  margin-right: 19px;
}

nav .nav-right ul li:last-of-type {
  margin-right: 0px;
}

/*-----------------------------------------------
    Main (for both Desktop & Mobile) 
------------------------------------------------*/
.main {
  padding: 66px 0px 147px 0px;
  /* Main Heading */
  /* Main Paragraph */
  /* Subscribe Newsletter */
}

@media screen and (max-width: 1536px) {
  .main {
    padding: 26px 0px 147px 0px;
  }
}

@media screen and (max-width: 1200px) {
  .main {
    padding: 9px 0px 147px 0px;
  }
}

@media screen and (max-width: 576px) {
  .main {
    padding: 0px 0px 245px 0px;
  }
}

.main .main-heading h1 {
  font-family: "Restora";
  font-style: normal;
  font-weight: 300;
  font-size: 7.3vw;
  line-height: 8.1vw;
  color: #ffffff;
  text-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
}

.main .main-heading h1 span {
  font-family: "Restora";
  font-style: italic;
}

@media screen and (max-width: 1536px) {
  .main .main-heading h1 {
    font-size: 94px;
    line-height: 110px;
  }
}

@media screen and (max-width: 992px) {
  .main .main-heading h1 span.life {
    display: block;
    font-style: normal;
    margin-top: 20px;
  }
  .main .main-heading h1 span.more {
    display: block;
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 767px) {
  .main .main-heading h1 {
    font-size: 84px;
    line-height: 90px;
  }
}

@media screen and (max-width: 394px) {
  .main .main-heading h1 {
    font-size: 74px;
    line-height: 80px;
  }
}

@media screen and (max-width: 374px) {
  .main .main-heading h1 {
    font-size: 64px;
    line-height: 65px;
  }
}

.main .main-paragraph p {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: 0.05em;
  color: #ffffff;
}

@media screen and (max-width: 1200px) {
  .main .main-paragraph p {
    font-size: 18px;
  }
}

@media screen and (max-width: 992px) {
  .main .main-paragraph p br {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .main .main-paragraph p {
    font-size: 16px;
  }
}

@media screen and (max-width: 576px) {
  .main .main-paragraph p {
    line-height: 28px;
  }
}

.main .mce_inline_error {
  background: transparent !important;
  margin: 0 !important;
  margin-top: 10px !important;
}

.main .subscribe-newsletter {
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 2.33vw 0px 3.88vw 0px;
}

.main .subscribe-newsletter input,
.main .subscribe-newsletter button {
  border: none;
  outline: none;
}

.main .subscribe-newsletter input {
  display: block;
  width: 451px;
  -webkit-transition: width 400ms ease-in-out;
  transition: width 400ms ease-in-out;
  height: 56px;
  font-family: "Roboto";
  border: 2px solid #ffffff;
  letter-spacing: 1px;
  background: transparent;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.116);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.116);
  border-radius: 180px;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
  line-height: 16px;
  text-align: center;
  padding-right: 40px;
}

.main .subscribe-newsletter input::-webkit-input-placeholder {
  color: #fff;
  opacity: 1;
  -webkit-transition: 0.5s ease-in;
  transition: 0.5s ease-in;
}

.main .subscribe-newsletter input:-ms-input-placeholder {
  color: #fff;
  opacity: 1;
  -webkit-transition: 0.5s ease-in;
  transition: 0.5s ease-in;
}

.main .subscribe-newsletter input::-ms-input-placeholder {
  color: #fff;
  opacity: 1;
  -webkit-transition: 0.5s ease-in;
  transition: 0.5s ease-in;
}

.main .subscribe-newsletter input::placeholder {
  color: #fff;
  opacity: 1;
  -webkit-transition: 0.5s ease-in;
  transition: 0.5s ease-in;
}

.main .subscribe-newsletter input:focus::-webkit-input-placeholder {
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.main .subscribe-newsletter input:focus:-ms-input-placeholder {
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.main .subscribe-newsletter input:focus::-ms-input-placeholder {
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.main .subscribe-newsletter input:focus::placeholder {
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.main .subscribe-newsletter button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #fff;
  position: absolute;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
  top: 10px;
  right: 9px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.main .subscribe-newsletter button svg {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.main .subscribe-newsletter button svg path {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.main .subscribe-newsletter button:hover {
  -webkit-transform: scale(1.09);
          transform: scale(1.09);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.main .subscribe-newsletter button:hover svg path {
  stroke-width: 0.8;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.main .subscribe-newsletter .success-message {
  position: absolute;
  white-space: nowrap;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  text-transform: uppercase;
  font-weight: 700;
  left: 90px;
  visibility: hidden;
  font-size: 18px;
  color: #fff;
}

.main .subscribe-newsletter.placeholder input::-webkit-input-placeholder {
  opacity: 1;
  -webkit-transition: 2s;
  transition: 2s;
}

.main .subscribe-newsletter.placeholder input:-ms-input-placeholder {
  opacity: 1;
  -webkit-transition: 2s;
  transition: 2s;
}

.main .subscribe-newsletter.placeholder input::-ms-input-placeholder {
  opacity: 1;
  -webkit-transition: 2s;
  transition: 2s;
}

.main .subscribe-newsletter.placeholder input::placeholder {
  opacity: 1;
  -webkit-transition: 2s;
  transition: 2s;
}

.main .subscribe-newsletter.success .success-message {
  visibility: visible;
  -webkit-animation: moveupwards 1.4s;
          animation: moveupwards 1.4s;
}

.main .subscribe-newsletter.success input,
.main .subscribe-newsletter.success button {
  pointer-events: none;
  cursor: default;
}

.main .subscribe-newsletter.success input {
  width: 56px;
  padding: 0;
  color: transparent;
}

.main .subscribe-newsletter.success input::-webkit-input-placeholder {
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.main .subscribe-newsletter.success input:-ms-input-placeholder {
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.main .subscribe-newsletter.success input::-ms-input-placeholder {
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.main .subscribe-newsletter.success input::placeholder {
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.main .subscribe-newsletter.success button {
  width: 48px;
  height: 48px;
  top: 6px;
  right: 6px;
}

@media screen and (max-width: 1536px) {
  .main .subscribe-newsletter {
    margin: 40px 0px 43px 0px;
  }
}

@media screen and (max-width: 992px) {
  .main .subscribe-newsletter {
    width: 500px;
    margin: 0 auto;
    margin-top: 44px;
    margin-bottom: 44px;
  }
  .main .subscribe-newsletter input {
    width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .main .subscribe-newsletter button {
    top: 8px;
    right: 8px;
  }
  .main .subscribe-newsletter .success-message {
    position: relative;
    top: unset;
    left: unset;
    text-align: center;
    margin: 0 auto;
    letter-spacing: 1.2px;
    -webkit-transform: translateY(0);
            transform: translateY(0);
    font-size: 14px;
    visibility: hidden;
  }
  .main .subscribe-newsletter.success {
    width: 500px;
  }
  .main .subscribe-newsletter.success input {
    width: 100%;
  }
  .main .subscribe-newsletter.success button {
    width: 44px;
    height: 44px;
  }
  .main .subscribe-newsletter.success .success-message {
    margin-top: 15px;
    -webkit-animation: movedownwards 0.8s;
            animation: movedownwards 0.8s;
  }
}

@media screen and (max-width: 768px) {
  .main .subscribe-newsletter {
    margin-top: 28px;
    margin-bottom: 20px;
    width: 100%;
  }
  .main .subscribe-newsletter input {
    font-size: 12px;
    line-height: 12px;
    font-weight: 700;
    padding: 0px 29px 0px 0px;
    height: 50px;
  }
  .main .subscribe-newsletter button {
    width: 38px;
    height: 38px;
    right: 6px;
    top: 6px;
  }
  .main .subscribe-newsletter button:hover {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  .main .subscribe-newsletter .success-message {
    font-size: 12px;
  }
  .main .subscribe-newsletter.success {
    width: 100%;
    margin-left: 0px;
  }
  .main .subscribe-newsletter.success button {
    width: 38px;
    height: 38px;
  }
}

@-webkit-keyframes moveupwards {
  0% {
    opacity: 0;
    margin-left: -10px;
  }
  50% {
    opacity: 0;
    margin-left: -10px;
  }
  100% {
    opacity: 1;
    margin-left: 0px;
  }
}

@keyframes moveupwards {
  0% {
    opacity: 0;
    margin-left: -10px;
  }
  50% {
    opacity: 0;
    margin-left: -10px;
  }
  100% {
    opacity: 1;
    margin-left: 0px;
  }
}

@-webkit-keyframes movedownwards {
  0% {
    opacity: 0;
    margin-top: -10px;
  }
  50% {
    opacity: 0;
    margin-top: -10px;
  }
  100% {
    opacity: 1;
    margin-top: 15px;
  }
}

@keyframes movedownwards {
  0% {
    opacity: 0;
    margin-top: -10px;
  }
  50% {
    opacity: 0;
    margin-top: -10px;
  }
  100% {
    opacity: 1;
    margin-top: 15px;
  }
}

/* >>>>>>>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<<<<<  */
/* >>>>>>>>>>>>>>>>>>>>> End <<<<<<<<<<<<<<<<<<<  */
/* >>>>>>>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<<<<<  */
/*# sourceMappingURL=app.css.map */