/*-----------------------------------------------
    Restora Extra Light
------------------------------------------------*/

@font-face {
  font-family: "Restora";
  src: url("../fonts/Restora/RestoraExtraLight.woff2") format("woff2"), url("../fonts/Restora/RestoraExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

/*-----------------------------------------------
    Restora Thin Italic
------------------------------------------------*/

@font-face {
  font-family: "Restora";
  src: url("../fonts/Restora/RestoraThinItalic.woff2") format("woff2"), url("../fonts/Restora/RestoraThinItalic.woff") format("woff");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

/*-----------------------------------------------
    Roboto Medium
------------------------------------------------*/

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/Roboto-Medium.woff2") format("woff2"), url("../fonts/Roboto/Roboto-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/*-----------------------------------------------
    Roboto Bold
------------------------------------------------*/

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/Roboto-Bold.woff2") format("woff2"), url("../fonts/Roboto/Roboto-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
