@font-face {
    font-family: 'Restora';
    src: url('RestoraExtraLight.woff2') format('woff2'),
        url('RestoraExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

